<!-- Copyright 2017 TOSHIBA TEC CORPORATION All rights reserved -->
<!DOCTYPE html>
<!--Declare document type-->
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta charset="UTF-8">
	 <meta name="viewport" content="initial-scale=1,width=device-width">		
	<link rel="stylesheet" href="{{
		url_for('static', filename='css/w3.css')}}">	
	<link rel="stylesheet" href="{{
		url_for('static', filename='css/bootstrap.min.css')}}">  
    	
	<title>Intelligent Postal mail Segregator Engine</title>
	<style>
@media only screen and (max-width: 600px) {
    .custom-exclude {
        font-size : 8px;
    }
} 	
		table, td, th {
		border: 1px solid #D3D3D3;
        word-break: break-all;
		}
		.modal {
		position:fixed;
		z-index:1000;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:rgba( 255, 255, 255, .8 ) url('img/loader.gif') 50% 50% no-repeat}
				
		.alert-error {
			color: #000000;
			background-color: #f2dada;
			border-color: #b22222;
			
		}
		.alert-success {
			color: #000000;
			background-color: #dff0d8;
			border-color: #d6e9c6;
		}
		.alert-alert {
			color: #000000;
			background-color: #FFA500;
			border-color: #d6e9c6;
		}
        label {
    font-weight: normal !important;
    padding : 0px;
}
	</style>
</head>

<body>
                                <form method='POST' id ='contactForm1' enctype = "multipart/form-data" style="visibility:hidden;"> 
     <input name="filename" id="AppToApp_startScan" type="file" accept="image/*" capture="environment" style="visibility:hidden;"/>
     </form>
	<div class="w3-center">				
		<div class="w3-center w3-indigo">
			<div class="w3-center">
				<h6 class="w3-center w3-xlarge w3-show-inline-block">Intelligent  Postal  Mail  Processor  Engine</h6>
			</div>
		</div>   
    <div class="w3-center">		
        <div class="w3-padding-16">						
			<div class="w3-center w3-show" id="scanapptable">				
				<table class="w3-border w3-table-all">
					<tbody>						
						<tr>
							<td class="w3-center" style="padding:0px;">								
								<div style="padding: 1px; margin: 5px; border: 1px; dashed #333333; border-radius: 1px;">
                                    <button class="w3-section w3-button w3-border w3-small w3-center w3-margin w3-round-xlarge w3-light-green"> <label for = "AppToApp_startScan" style="margin-bottom:0px">Submit Image</label></button>
									<button class="w3-section w3-button w3-border w3-small w3-center w3-margin w3-round-xlarge w3-light-green"  id="AppToApp_report" >Generate Report</button>
									<textarea class="w3-center w3-section w3-input w3-border" id="retresponse" type="text" name="Message" rows="4" cols="10" readonly> To Upload the image please Click on Submit Image</textarea>
								</div>
							</td>									
						</tr>
					</tbody>
				</table>
<div class="w3-center" id="Contentdiv" ></div>                
			<div id="dialog" class="w3-modal">
				<div class="w3-modal-content">
					<div class="w3-container w3-center">				
						<h4 id='dialogHeading'></h4>
						<p id='dialogContent' ></p>
						<div class="w3-hide" id="userinfotable">							
							<table class="w3-border w3-table-all">
								<tbody>														
									<tr>
										<td>Name</td>
										<td>
											<p type="text" id="Name"> </p>
										</td>											
									</tr>
									<tr>
										<td>Division</td>
										<td>
											<p type="text" id="Division"> </p>
										</td>
									</tr>
									<tr>
										<td>Code</td>
										<td>
											<p type="text" id="Code"> </p>
										</td>
									</tr>
									<tr>
										<td>EmailID</td>
										<td>
											<p type="text" id="EmailID"> </p>
										</td>
									</tr>								
								</tbody>
							</table>									
						</div>	
						<button class="w3-button w3-border w3-margin-top w3-white w3-round-large w3-margin-bottom" id="dialogCloseButton">Close</button>
					</div>
				</div>
			</div>
			<div id="popUp" class="w3-modal">
				<div class="w3-modal-content">
					<div class="w3-container w3-center">				
						<h4 id='popUpHeading'></h4>
						<p id='popUpContent' ></p>
						<div>							
							<table class="w3-border w3-table-all">
							<tbody>														
								<tr class="w3-center">
									<td class="w3-center">
										<button class="w3-section w3-button w3-border w3-medium w3-padding w3-center w3-margin w3-round-xlarge w3-light-green"  id="todayreport" >Today's Report</button>
										<button class="w3-section w3-button w3-border w3-medium w3-padding w3-center w3-margin w3-round-xlarge w3-light-green"  id="allreport" >All Report</button>
									</td>									
								</tr>															
							</tbody>
						</table>									
						</div>	
						<button class="w3-center w3-button w3-border w3-margin-top w3-white w3-round-large w3-margin-bottom " id="popUpCloseButton1">Close</button>
                        <section id="usertablelist" class="w3-hide">		
								<div class="tablelist w3-padding w3-border w3-left" style="width:100%">	
									<h6 class="w3-margin w3-center w3-medium" id="reportheading"></h6>
									<table id="user_table" class="w3-border w3-table-all w3-hoverable custom-exclude" style="width:100%">
										<thead class = "custom-exclude">						
											<th>Code</th>
											<th>Scan_date</th>
											<th>Thrash_date</th>                          
										</thead>
										<tbody>													
										</tbody>
									</table>	
									<!-- Pagination -->
									<div class="w3-center w3-padding-16">
										<div class="w3-bar" id="paginationInfo">						  
											<a href="#" class="w3-bar-item w3-button" id='previousPage'><<</a>
											<a href="#" class="w3-bar-item w3-button w3-blue" id="homePage">1</a>
											<a href="#" class="w3-bar-item w3-button" id='nextPage'>>></a>
										</div>
									</div>	
								</div>
				</section>
                    <button class="w3-button w3-border w3-margin-top w3-white w3-round-large w3-margin-bottom w3-center" style="display:none" id="popUpCloseButton2">Close</button>
					</div>
				</div>
                
			</div>
		
			</div>
		</div>			
	</div>	
    </div>
    <!--<script src="js/jquery-1.7.2.min.js"></script>	-->
	<script src="{{
		url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>		
	<script src="{{
		url_for('static', filename='js/bootstrap.min.js') }}"></script>     	         	
	<script type="text/javascript" src="{{
		url_for('static', filename='js/jquery-qrcode-0.17.0.js') }}"></script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/qrcode.js') }}"></script>	
</body>
<script type="text/javascript">
$(function() {
/*
$('a#calculate').bind('click', function() {
alert("Hey1");
//alert('HEY')
var formData = new FormData($('#contactForm1')[0]);
$.ajax({
url: "{{url_for('do_ocr') }}",
data: formData,
type: 'POST',
contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
processData: false, // NEEDED, DON'T OMIT THIS
success : function(data){
alert("Hey2");
$('#Contentdiv').html("<p>"+data+"</p>");
}
// ... Other options like success and etc
});

});
*/
var currentAction =""
var CurrentPage = 1;
var jsonCode ={
		"building":{
			"Essae Vaishnavi Solitaire": {
				"id": "B1",	
				"division": {
					"SS": {
						"id": "D1",
						"dept":{
							"Semicon":{
							"id":"DEP1",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							},
							"RND":{
							"id":"DEP2",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"						
								}
							},
							"Mobile":{
							"id":"DEP3",
							"floor":{"0":"0",						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}					
						}
					},
					"TTEC": {
						"id": "D2",
						"dept":{
							"TTEC-AL":{
							"id":"DEP1",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"						
								}
							},
							"TTEC-SL":{
							"id":"DEP2",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"									
								}
							},
							"TTEC-DL":{
							"id":"DEP3",
							"floor":{"0":"0",						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							},					
							"TTEC-CI":{
							"id":"DEP4",
							"floor":{"0":"0",						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}
						}
					}
				}				
			},
			"Fortune Summit": {
				"id": "B2",	
				"division": {
					"TMSC": {
						"id": "D1",
						"dept":{
							"Medical":{
							"id":"DEP1",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							},
							"RND":{
							"id":"DEP2",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"						
								}
							},
							"Imaging":{
							"id":"DEP3",
							"floor":{"0":"0",						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}					
						}
					},
					"tmc": {
						"id": "D2",
						"dept":{
							"tmc-1":{
							"id":"DEP1",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"							
								}
							},
							"tmc-2":{
							"id":"DEP2",
							"floor":{"0":"0",
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"							
								}
							},
							"tmc-3":{
							"id":"DEP3",
							"floor":{"0":"0",						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}
						}
					}
				}				
			}
		}
	}
$("#AppToApp_startScan").on("change", function () {		
		console.log("Start job entry");		
		$('#AppToApp_report').prop('disabled',true);
		//$('#startjob').empty();		
		$('#retresponse').val("Processing the Image.Please wait!");		
        var formData = new FormData($('#contactForm1')[0]);
        //alert("Hey 1");
$.ajax({
url: "{{url_for('do_ocr') }}",
data: formData,
type: 'POST',
contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
processData: false, // NEEDED, DON'T OMIT THIS
success : function(data){
//alert("Name: "+data["name"]+"department: " + data["department"]+"Building: "+data["building"]+"Division: "+data["division"]+"emailaddress :"+data["emailaddress"]);
data = JSON.parse(data);
console.log(data);
$('#Name').text(data["name"]);
$('#EmailID').text(data["email"]);
$('#Division').text(data["division"]);
$('#Code').text(data["code"]);
showDialog("Success","Successfully Completed");
},
error: function(jqXhr, textStatus, errorMessage){ 
        showDialog("error","User not found. Please try again!");
        _initialDisplay();
}
// ... Other options like success and etc
});

});
	var generateColorCode = function(data){
		console.log("Received data for generating color code = "+JSON.stringify(data))
		// Logic for generating color code
		
		var ilocation=1
		var today = new Date();
		var date = today.getFullYear()+':'+(today.getMonth()+1)+':'+today.getDate();
		var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds()+":"+today.getMilliseconds();
		var dateTime = date+':'+time;
		console.log("Current Datetime - "+dateTime)
		
	//	dateTime = ""+(today.getMonth()+1)+"."+today.getDate()+"."+today.getHours()+"."+today.getMinutes()+"."+today.getSeconds();
		
		dateTime = ""+(today.getMonth()+1)+today.getDate()+today.getHours()+today.getMinutes()+today.getSeconds()+today.getMilliseconds();
		console.log("Unique Code - "+dateTime)
		
		/*
		data ={
			'name':'arvind',
		    'division':'TTEC',
			'department':'TTEC-SL',
			'building':'Essae Vaishnavi Solitaire',
			'email':'arvind.mohan@toshiba-tsip.com',
			'floor':'3',
			'cubicle':85
		}
		
		console.log("Division:"+jsonCode["building"]["Essae Vaishnavi Solitaire"]["division"]["ss"]["id"])		
		console.log("Department:"+jsonCode["building"]["Essae Vaishnavi Solitaire"]["division"]["ss"]["dept"]["semicon"]["id"])
		console.log("Floor:"+jsonCode["building"]["Essae Vaishnavi Solitaire"]["division"]["ss"]["dept"]["semicon"]["floor"]["1"])
		console.log(jsonCode["building"][data.building]["division"][data.division]["id"])
		*/
		
		if(parseInt(data.cubicle)>25 && parseInt(data.cubicle)<=50)
			ilocation=2
		else if(parseInt(data.cubicle)>50 && parseInt(data.cubicle)<=75)
			ilocation=3
		else
			ilocation=4
        console.log(data.building)
		colorCode=jsonCode["building"][data.building]["id"]+':'+jsonCode["building"][data.building]["division"][data.division]["id"]+':'+jsonCode["building"][data.building]["division"][data.division]["dept"][data.department]["id"]+':'+jsonCode["building"][data.building]["division"][data.division]["dept"][data.department]["floor"][data.floor]+'F:'+ilocation+'L:'+dateTime
		console.log("ColorCode - "+colorCode)
	
	//	colorCode="A1-D4-03F1-85"
	
		console.log("generateColorCode:: ColorCode value ="+colorCode)
		return colorCode;
	}
    
	var _initialDisplay = function () {    
		console.log("Initial Display")
		document.getElementById('contactForm1').reset();
		img="";
        currentAction="";
		
		$('#retresponse').val('To Upload the image please Click on Submit Image');
		
		//$('.progress-bar').css('width', 0).attr('aria-valuenow', 0); 		
		//$('#progress-bar').removeClass('w3-show').addClass('w3-hide')
		
		//$('#progress-bar').css('width', 0).attr('aria-valuenow', 0); 		
				
		$('#AppToApp_report').prop('disabled',false);		
		$('#AppToApp_startScan').prop('disabled',false);
		//$('#userinfotable').removeClass('w3-show').addClass('w3-hide');
		
		// Empty the output contents
		$('#output').empty()
						
		//$('#progress-bar').removeClass('w3-hide').addClass('w3-show');
		//window.location="index.html"		
        $('#user_table > tbody').empty();
        $('#usertablelist').removeClass('w3-show').addClass('w3-hide');
        $('#popUpCloseButton2').css({'display':'none'});
        $('#popUpCloseButton1').removeAttr("style");
    }
    /*(
var move = function(width, interval, error) {
	  var elem = document.getElementById("progress-bar");   
	  //var width = 1;
	  if(error)
	  {
		  console.log("move::entered error")	
		  console.log($('.progress-bar').attr.value);
		  $('.progress-bar').css('width', 0).attr('aria-valuenow', 0);   
		  
		  return true;
	  }
	  else {
		  console.log("move::entered ok")	
		  var id = setInterval(frame, 100);
		  function frame() {
			if (width >= interval) {
			  clearInterval(id);
			} else {
			  width++; 
			//  elem.style.width = width + '%'; 
			  $('.progress-bar').css('width', width+'%').attr('aria-valuenow', width);    
			  
			}
		  }				  
		  return true;
	  }
	};
    */
var showPopUp = function(){
		console.log("showDialog::Entered showPopUp");
		
		$('#popUpHeading').removeClass('alert-error').addClass('alert-success').text("Generate Report");					
		$('#popUpContent').text("Please select the following \n <1> Print report for today \n <2> Print report for all days");
		
		sleep(100);
		$('#popUp').css('display','block');		
	}
$("#todayreport").on("click", function () {
		console.log("todayreport click");	
		generateReport("today")
	});
$("#allreport").on("click", function () {	
		console.log("allreport click");
		generateReport("all")
	});
var generateReport = function(action){
		console.log("generateReport::Entered generateReport, action - "+action);
		// Setting jobStatus as AppPrint
		$('#retresponse').val("Querying the information from the database");		
        currentAction = action;
        getUsers(1,action);    
	}
$("#AppToApp_report").on("click", function () {	
		$('#AppToApp_startScan').prop('disabled',true);		
		$('#AppToApp_report').prop('disabled',true);		
		//$('.progress-bar').removeClass('w3-hide').addClass('w3-show');	
		//$('#progress-bar').removeClass('w3-show').addClass('w3-hide');
		showPopUp()
	/*	
		$('#retresponse').val("Querying the information from the database");		
		move(1,25,0)
		App.Util.serverRequest('/server/' + App.appId + "/generateReport", "POST", true, function (response) {
			if (response) {
				console.log("AppToApp_report Response- "+JSON.stringify(response));							
				move(25,50,0)
				var reportName = response.value
				console.log("AppToApp_report::Name of the file is "+reportName)				
				AppToApp_appPrint(reportName)
			}				
			else {
				console.log("Error at generateReport");
				$('#retresponse').val("Error in GenerateReport");	
				showDialog("error","Error in Generate Report");
			}
		}, {		
		"name": "all"
		});		
	*/
	});

function sleep(milliseconds) {
	  var start = new Date().getTime();
	  for (var i = 0; i < 1e7; i++) {
		if ((new Date().getTime() - start) > milliseconds){
		  break;
		}
	  }
	}
$('#popUpCloseButton1,#popUpCloseButton2,#dialogCloseButton').on('click', function(){			
		console.log("Popup close button click");
		
		_initialDisplay();	
		// hide the dialog
		$("#popUp").css("display", "none");
        $("#dialog").css("display","none");
	});
    
    	/* ----------------------------------------- Pagination navigation---------------------------------------- */	
$('#previousPage').on('click', function(){			
			CurrentPage--;
			if(CurrentPage < 1)
				CurrentPage = 1			
			console.log("Current Page ="+CurrentPage);			
			getUsers(CurrentPage,currentAction);
		});
		
		$('#nextPage').on('click', function(){
			CurrentPage++;
			console.log("Current Page ="+CurrentPage);			
			getUsers(CurrentPage,currentAction);
		});		
		
		$('#homePage').on('click', function(){
			CurrentPage=$(this).text();
			console.log("Current Page ="+CurrentPage);		
			getUsers(CurrentPage,currentAction);
		});
    
    function capitalizeFirstLetter(string) {
    return string.charAt(0).toUpperCase() + string.slice(1);
}
    function getUsers(currPage,currentAction){
			console.log("getUsers Entry")
			selectedUserIndex=0;
			userId='';
			
			// Display loading
	//		$('#loading').removeClass('w3-hide');				

			// Hide all the tables
			
			
			// Disable the Update/Delete User
			
			$('#user_table > tbody').empty();
			
		//	$('#user_table > tbody').append('<tr><td>' + "Arvind" + '</td><td>' + "TTEC" + '</td><td>' + "TTEC-SL" + '</td><td>'+ "Essae Vaishnavi Solitaire" + '</td><td>'+ "arvind@toshiba.com" + '</td><td>'+ "3" + '</td><td>'+ "85" + '</td></tr>');

			
			var jsonGetData = {
			  "page": currPage,
              "action": currentAction
			};			
		   console.log("Test 123456789"); 
            console.log(jsonGetData);
            $.ajax({
                type: "POST",                            
                url: "{{url_for('getUserMailInfo') }}",    
                datatype:"json",
                contentType: 'application/json', // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
                processData: false, // NEEDED, DON'T OMIT THIS   	
				data:JSON.stringify(jsonGetData),                     
                success: function(jsonData){
                       $('#reportheading').empty();
                     $('#reportheading').append("<b>"+capitalizeFirstLetter(currentAction) + " Report </b>");                 
                    jsonData = JSON.parse(jsonData);
                    console.log(jsonData);
                    if(typeof jsonData != "undefined"){
						console.log("Received User Info ="+jsonData)
						if(jsonData.length == 0){
							currPage--;
							return;
						}
						jsonData.forEach(function(obj) { 
							console.log("Code = "+obj.code+",scan_date = "+obj.scan_date+"thrash_date = "+ obj.end_date); 
						});
						$.each(jsonData, function (index, value) {
                            $('#user_table > tbody').addClass("custom-exclude");
							$('#user_table > tbody').append('<tr><td>' + value.code + '</td><td>' + value.scan_date + '</td><td>' + value.end_date);				
							$('#homePage').text(currPage);											
						});
						$('#homePage').text(currPage);	
                    }
                $('#usertablelist').removeClass('w3-hide').addClass('w3-show');
                $('#popUpCloseButton1').css({'display':'none'});
                $('#popUpCloseButton2').removeAttr("style");
                },
                error: function() {
                    // Failed the ajax call
                    showDialog("error","Failed to connect");
                }
            });						
		}
        var showDialog = function(statusString, statusValue){
		console.log("showDialog::Entered showDialog");
        
		if("error" == statusString){
			$('#dialogHeading').removeClass('alert-success').addClass('alert-error').text("Error");							
				$('#userinfotable').removeClass('w3-show').addClass('w3-hide');		
        }
        else{
        console.log("Entered Sucess case");
            $('#userinfotable').removeClass('w3-hide').addClass('w3-show');	
            $('#dialogHeading').removeClass('alert-error').addClass('alert-success').text("Success");							
        }
        $('#dialogContent').text(statusValue);
		sleep(100);
		$('#dialog').css('display','block');
        }
        });
</script>
</html>