<!-- Copyright 2017 TOSHIBA TEC CORPORATION All rights reserved -->
<!DOCTYPE html>
<!--Declare document type-->
<html lang="en">
<head>
    <meta charset="utf-8">
	<meta charset="UTF-8">
	 <meta name="viewport" content="initial-scale=1,width=device-width">		
	<link rel="stylesheet" href="{{
		url_for('static', filename='css/w3.css')}}">	
	<link rel="stylesheet" href="{{
		url_for('static', filename='css/bootstrap.min.css')}}">  
    	
	<title>Intelligent Postal mail Segregator Engine</title>
	<style>	
		table, td, th {
		border: 1px solid #D3D3D3;		
		}
		.modal {
		position:fixed;
		z-index:1000;
		top:0;
		left:0;
		height:100%;
		width:100%;
		background:rgba( 255, 255, 255, .8 ) url('img/loader.gif') 50% 50% no-repeat}
				
		.alert-error {
			color: #000000;
			background-color: #f2dada;
			border-color: #b22222;
			
		}
		.alert-success {
			color: #000000;
			background-color: #dff0d8;
			border-color: #d6e9c6;
		}
		.alert-alert {
			color: #000000;
			background-color: #FFA500;
			border-color: #d6e9c6;
		}
        label {
    font-weight: normal !important;
    padding : 0px;
}
	</style>
</head>

<body>
                                <form method='POST' id ='contactForm1' enctype = "multipart/form-data" style="visibility:hidden;"> 
     <input name="filename" id="AppToApp_startScan" type="file" accept="image/*" capture="environment" style="visibility:hidden;"/>
     </form>
	<div class="w3-center">				
		<div class="w3-center w3-indigo">
			<div class="w3-center">
				<h6 class="w3-center w3-xlarge w3-show-inline-block">Intelligent  Postal  Mail  Processor  Engine</h6>
			</div>
		</div>   
    <div class="w3-center">		
        <div class="w3-padding-16">						
			<div class="w3-center w3-show" id="scanapptable">				
				<table class="w3-border w3-table-all">
					<tbody>						
						<tr>
							<td class="w3-center" style="padding:0px;">								
								<div style="padding: 1px; margin: 5px; border: 1px; dashed #333333; border-radius: 1px;">
                                    <button class="w3-section w3-button w3-border w3-small w3-center w3-margin w3-round-xlarge w3-light-green"> <label for = "AppToApp_startScan">Submit Image</label></button>
									<button class="w3-section w3-button w3-border w3-small w3-center w3-margin w3-round-xlarge w3-light-green"  id="AppToApp_report" >Generate Report</button>
									<textarea class="w3-center w3-section w3-input w3-border" id="retresponse" type="text" name="Message" rows="4" cols="10" readonly> Upload the image and Click on Submit Image</textarea>									
									<div class="progress w3-border">
										<div class="progress-bar progress-bar-striped active w3-light-green" role="progressbar" aria-valuemin="0" aria-valuemax="100" id="progress-bar">										  
										</div>
									</div>
								</div>
							</td>									
						</tr>
					</tbody>
				</table>
<div class="w3-center" id="Contentdiv" ></div>                
			<div id="dialog" class="w3-modal">
				<div class="w3-modal-content">
					<div class="w3-container w3-center">				
						<h4 id='dialogHeading'></h4>
						<p id='dialogContent' ></p>
						<div class="w3-hide" id="userinfotable">							
							<table class="w3-border w3-table-all">
								<tbody>														
									<tr>
										<td>Name</td>
										<td>
											<p type="text" id="Name"> </p>
										</td>
										<td  rowspan='6' class="w3-center">																		
											<div id="output" class="w3-container w3-center w3-border w3-margin w3-padding-16"> </div>
										</td>												
									</tr>
									<tr>
										<td>Division</td>
										<td>
											<p type="text" id="Division"> </p>
										</td>
									</tr>
									<tr>
										<td>Department</td>
										<td>
											<p type="text" id="Department"> </p>
										</td>
									</tr>
									<tr>
										<td>Building</td>
										<td>
											<p type="text" id="Building"> </p>
										</td>
									</tr>
									<tr>
										<td>EmailID</td>
										<td>
											<p id="EmailID"> </p>
										</td>
									</tr>
									<tr>
										<td>Floor</td>
										<td>
											<p id="Floor"> </p>
										</td>
									</tr>
									<tr>
										<td>Cubicle</td>
										<td>
											<p id="Cubicle"> </p>
										</td>
										<td class='w3-center'>
											<p id="ColorCode"> </p>
										</td>									
									</tr>								
								</tbody>
							</table>									
						</div>	
						<button class="w3-button w3-border w3-margin-top w3-white w3-round-large w3-margin-bottom" id="dialogCloseButton">Close</button>
					</div>
				</div>
			</div>
			<div id="popUp" class="w3-modal">
				<div class="w3-modal-content">
					<div class="w3-container w3-center">				
						<h4 id='popUpHeading'></h4>
						<p id='popUpContent' ></p>
						<div>							
							<table class="w3-border w3-table-all">
							<tbody>														
								<tr class="w3-center">
									<td class="w3-center">
										<button class="w3-section w3-button w3-border w3-medium w3-padding w3-center w3-margin w3-round-xlarge w3-light-green"  id="todayreport" >Today's Report</button>
										<button class="w3-section w3-button w3-border w3-medium w3-padding w3-center w3-margin w3-round-xlarge w3-light-green"  id="allreport" >All Report</button>
									</td>									
								</tr>															
							</tbody>
						</table>									
						</div>	
						<button class="w3-button w3-border w3-margin-top w3-white w3-round-large w3-margin-bottom" id="popUpCloseButton">Close</button>
					</div>
				</div>
			</div>
		
			</div>
		</div>			
	</div>	
    </div>
    <!--<script src="js/jquery-1.7.2.min.js"></script>	-->
	<script src="{{
		url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>		
	<script src="{{
		url_for('static', filename='js/bootstrap.min.js') }}"></script>     	         	
	<script type="text/javascript" src="{{
		url_for('static', filename='js/jquery-qrcode-0.17.0.js') }}"></script>
	<script type="text/javascript" src="{{
		url_for('static', filename='js/qrcode.js') }}"></script>	
</body>
<script type="text/javascript">
$(function() {
/*
$('a#calculate').bind('click', function() {
alert("Hey1");
//alert('HEY')
var formData = new FormData($('#contactForm1')[0]);
$.ajax({
url: "{{url_for('do_ocr') }}",
data: formData,
type: 'POST',
contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
processData: false, // NEEDED, DON'T OMIT THIS
success : function(data){
alert("Hey2");
$('#Contentdiv').html("<p>"+data+"</p>");
}
// ... Other options like success and etc
});

});
*/
var jsonCode ={
		"building":{
			"Essae Vaishnavi Solitaire": {
				"id": "B1",	
				"division": {
					"SS": {
						"id": "D1",
						"dept":{
							"Semicon":{
							"id":"DEP1",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							},
							"RND":{
							"id":"DEP2",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"						
								}
							},
							"Mobile":{
							"id":"DEP3",
							"floor":{						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}					
						}
					},
					"TTEC": {
						"id": "D2",
						"dept":{
							"TTEC-AL":{
							"id":"DEP1",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"						
								}
							},
							"TTEC-SL":{
							"id":"DEP2",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"									
								}
							},
							"TTEC-DL":{
							"id":"DEP3",
							"floor":{						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							},					
							"TTEC-CI":{
							"id":"DEP4",
							"floor":{						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}
						}
					}
				}				
			},
			"Fortune Summit": {
				"id": "B2",	
				"division": {
					"TMSC": {
						"id": "D1",
						"dept":{
							"Medical":{
							"id":"DEP1",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							},
							"RND":{
							"id":"DEP2",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"						
								}
							},
							"Imaging":{
							"id":"DEP3",
							"floor":{						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}					
						}
					},
					"tmc": {
						"id": "D2",
						"dept":{
							"tmc-1":{
							"id":"DEP1",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"							
								}
							},
							"tmc-2":{
							"id":"DEP2",
							"floor":{
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"							
								}
							},
							"tmc-3":{
							"id":"DEP3",
							"floor":{						
								"1":"1",
								"2":"2",
								"3":"3",
								"4":"4",
								"5":"5",
								"6":"6"	
								}
							}
						}
					}
				}				
			}
		}
	}
$("#AppToApp_startScan").on("change", function () {		
		console.log("Start job entry");		
		$('#AppToApp_report').prop('disabled',true);		
		$('.progress-bar').removeClass('w3-hide').addClass('w3-show');
		//$('#startjob').empty();		
		$('#retresponse').val("Processing the Image");		
		move(1,20,0);
        var formData = new FormData($('#contactForm1')[0]);
        alert("Hey 1");
$.ajax({
url: "{{url_for('do_ocr') }}",
data: formData,
type: 'POST',
contentType: false, // NEEDED, DON'T OMIT THIS (requires jQuery 1.6+)
processData: false, // NEEDED, DON'T OMIT THIS
success : function(data){
//alert("Name: "+data["name"]+"department: " + data["department"]+"Building: "+data["building"]+"Division: "+data["division"]+"emailaddress :"+data["emailaddress"]);
console.log(typeof(data));
colorCode = generateColorCode(data)			
						// Empty the output contents
						//$('#output').empty()
						// Generate the QR Code
						//$('#output').qrcode({width: 100,height: 100,text: colorCode});
},
error: function(jqXhr, textStatus, errorMessage){ 		
		$('#retresponse').val(errorMessage);
    _initialDisplay();
}
// ... Other options like success and etc
});

});
	var generateColorCode = function(data){
		console.log("Received data for generating color code = "+JSON.stringify(data))
		// Logic for generating color code
		
		var ilocation=1
		var today = new Date();
		var date = today.getFullYear()+':'+(today.getMonth()+1)+':'+today.getDate();
		var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
		var dateTime = date+':'+time;
		console.log("Current Datetime - "+dateTime)
		
	//	dateTime = ""+(today.getMonth()+1)+"."+today.getDate()+"."+today.getHours()+"."+today.getMinutes()+"."+today.getSeconds();
		
		dateTime = ""+(today.getMonth()+1)+today.getDate()+today.getHours()+today.getMinutes()+today.getSeconds();
		console.log("Unique Code - "+dateTime)
		
		/*
		data ={
			'name':'arvind',
		    'division':'TTEC',
			'department':'TTEC-SL',
			'building':'Essae Vaishnavi Solitaire',
			'email':'arvind.mohan@toshiba-tsip.com',
			'floor':'3',
			'cubicle':85
		}
		
		console.log("Division:"+jsonCode["building"]["Essae Vaishnavi Solitaire"]["division"]["ss"]["id"])		
		console.log("Department:"+jsonCode["building"]["Essae Vaishnavi Solitaire"]["division"]["ss"]["dept"]["semicon"]["id"])
		console.log("Floor:"+jsonCode["building"]["Essae Vaishnavi Solitaire"]["division"]["ss"]["dept"]["semicon"]["floor"]["1"])
		console.log(jsonCode["building"][data.building]["division"][data.division]["id"])
		*/
		
		if(parseInt(data.cubicle)>25 && parseInt(data.cubicle)<=50)
			ilocation=2
		else if(parseInt(data.cubicle)>50 && parseInt(data.cubicle)<=75)
			ilocation=3
		else
			ilocation=4
		colorCode=jsonCode["building"][data.building]["id"]+':'+jsonCode["building"][data.building]["division"][data.division]["id"]+':'+jsonCode["building"][data.building]["division"][data.division]["dept"][data.department]["id"]+':'+jsonCode["building"][data.building]["division"][data.division]["dept"][data.department]["floor"][data.floor]+'F:'+ilocation+'L:'+dateTime
		console.log("ColorCode - "+colorCode)
	
	//	colorCode="A1-D4-03F1-85"
	
		console.log("generateColorCode:: ColorCode value ="+colorCode)
		return colorCode;
	}
    
	var _initialDisplay = function () {    
		console.log("Initial Display")
		
		img="";
		
		$('#retresponse').val('Place postal mail on Glass Bed and press "Start Scan" button');
		
		//$('.progress-bar').css('width', 0).attr('aria-valuenow', 0); 		
		//$('#progress-bar').removeClass('w3-show').addClass('w3-hide')
		
		$('#progress-bar').css('width', 0).attr('aria-valuenow', 0); 		
		
		$('#ApptoApp_submitScan').prop('disabled',false);		
		$('#AppToApp_report').prop('disabled',false);		
		
		$('#userinfotable').removeClass('w3-show').addClass('w3-hide');
		
		// Empty the output contents
		$('#output').empty()
						
		$('#progress-bar').removeClass('w3-hide').addClass('w3-show')
		//window.location="index.html"		
    }
var move = function(width, interval, error) {
	  var elem = document.getElementById("progress-bar");   
	  //var width = 1;
	  if(error)
	  {
		  console.log("move::entered error")	
		  console.log($('.progress-bar').attr.value);
		  $('.progress-bar').css('width', 0).attr('aria-valuenow', 0);   
		  
		  return true;
	  }
	  else {
		  console.log("move::entered ok")	
		  var id = setInterval(frame, 100);
		  function frame() {
			if (width >= interval) {
			  clearInterval(id);
			} else {
			  width++; 
			//  elem.style.width = width + '%'; 
			  $('.progress-bar').css('width', width+'%').attr('aria-valuenow', width);    
			  
			}
		  }				  
		  return true;
	  }
	};

});
</script>
</html>